.header-wrapper {
    color: black;
}

.logo {
    margin-left: 8%;
    font-weight: 2000px;
}

.search-bar {
    margin-left: 20%;
    text-indent: 15px;
    margin-top: 0.8em;
}

.vr-wrapper {
    padding-left: 5%;
    padding-right: 5%;
    text-align: center;
}

.vr-wrapper p {
    font-size: 1.2em;
}

.lbottom-wrapper {
    display: flex;
    justify-content: center;
    padding: 2%;
}

.lbottom-wrapper p {
    margin-right: 20px;
    font-weight: 400;
    font-size: 1.5em;
}

.contact-wrapper {
    display: flex;
    justify-content: center;
    background-color: lightgrey;
    padding: 5%;
}

.contact-wrapper form {
    margin-left: 3%;
    display: flex;
    flex-direction: column;
}

.footer-wrapper {
    list-style: none;
    font-size: 12px;
    display: flex;
    justify-content: space-evenly;
}

.footer-title:hover {
    color: red;
}

.footer-title {
    font-size: 15px;
    padding: 0.5%;
    font-weight: bolder;
}

.copy {
    padding: 1%;
    display: flex;
}

.carousel-text {
    font-size: 16px;
    background: transparent;
    user-select: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.carousel-wrapper h3 {
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
    font-size: 18px;
    text-transform: uppercase;
}

.carousel-wrapper {
    padding-top: 2%;
    padding-left: 5%;
    padding-right: 5%;
}

li {
    padding: 2px;
}

@media only screen and (max-width: 843px) {
    html {
        font-size: 10px;
    }
    .header-wrapper {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }
    .MuiButton-label {
        display: flex;
        flex-direction: column;
    }
    .mr-auto navbar-nav {
        display: flex;
        flex-direction: column;
    }
}

@media only screen and (max-width: 395px) {
    .contact-us-header h3 {
        font-size: 40px;
    }
    form {
        margin-left: 14em;
    }
}

@media only screen and (max-width: 409px) {
    form {
        margin-left: 14em;
    }
}

@media only screen and (max-width: 415px) {
    form {
        margin-left: 14em;
    }
}

@media only screen and (min-width: 429px) {
    form {
        margin-left: 14em;
    }
}

@media only screen and (max-width: 250px) {
    .footer-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

@media only screen and (max-width: 425px) {
    form {
        margin-left: 14em;
    }
}

@media only screen and (max-width: 458px) {
    body {
        width: 458px;
    }
}

@media only screen and (max-width: 601px) {
    .MuiPaper-root {
        display: flex;
        flex-direction: column;
    }
}

.contact-us-header h3 {
    text-align: center;
    text-transform: uppercase;
    font-size: 50px;
    margin-bottom: 12%;
}

.form-row {
    padding: 0;
}

.middle-wrapper {
    display: flex;
    justify-content: center;
}

.middle-row-item {
    padding: 2%;
}

@media only screen and (max-width: 530px) {
    .middle-wrapper {
        display: flex;
        flex-direction: column;
    }
}

@media only screen and (max-width: 465px) {
    .middle1-wrapper {
        width: 50px;
    }
    .middle-row-1 {
        width: 52px;
        padding: 2%;
    }
}

#middle-heading {
    padding: 3%;
    margin-left: 40%;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
}

.MuiButton-label {
    font-size: 16px;
    font-weight: bolder;
}

.popup-add {
    width: 300px;
    justify-content: center;
    display: flex;
}

.pop-item-01 {
    display: flex;
    flex-direction: column;
    -webkit-box-shadow: -1px 3px 15px 5px #000000;
    box-shadow: -1px 1px 3px 2px #000000;
    background-size: cover;
    justify-content: center;
    text-align: center;
}

.pop-item-01 img {
    margin-left: 25px;
    margin-top: 20px;
}


/*Styling the divs of aka items of popups*/

.apart-divs {
    padding: 2%;
}

.shop-divs {
    padding: 5%;
}

.popup-query {
    display: flex;
    flex-direction: column;
    padding: 5%;
    text-align: center;
    -webkit-box-shadow: -1px 3px 15px 5px #000000;
    box-shadow: -1px 1px 3px 2px #000000;
    justify-content: space-evenly;
}