.header-wrapper {
  display: flex;
  justify-content: space-evenly;
  margin-top: 1%;
}
.logo {
  margin-left: 8%;
}
.search-bar {
  margin-left: 20%;
  text-indent: 15px;
}

.vr-wrapper {
  padding: 1%;
}

.lbottom-wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.contact-wrapper{
  display: flex;
  justify-content: center;
  padding: 0.8%;
}

.footer-wrapper{
  display: flex;
  justify-content: center;
  /* background-color: lightblue; */
  border-top: 1px solid grey;

}

.copy{
  padding: 1%;
}

.image-sectors{
  display: flex;
  justify-content: center;
  margin-left: 18%;
}

.carousel-text{
  font-size: 2em;
  background: transparent;
  user-select: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}


.carousel-wrapper{
  margin: auto;
  padding: auto;
  background-size: cover;
}

li{
  padding: 2px;
}

@media only screen and (max-width: 1154px) {
  .header-wrapper{
    display: flex;
    flex-direction: column;
  }
}