.header-wrapper {
  color: black;
}
.logo {
  margin-left: 8%;
  font-weight: 2000px;
}
.search-bar {
  margin-left: 20%;
  text-indent: 15px;
  margin-top: 0.8em;
}
.vr-wrapper {
  padding: 1%;
  text-align: center;
}
.vr-wrapper p {
  font-size: 1.2em;
}

.lbottom-wrapper {
  display: flex;
  justify-content: center;
  padding: 2%;
}
.lbottom-wrapper p {
  margin-right: 20px;
  font-weight: 400;
  font-size: 1.5em;
}

.contact-wrapper {
  display: flex;
  justify-content: center;
  background-color: lightgrey;
  padding: 5%;
}

form {
  margin-left: 11em;
  display: flex;
  flex-direction: column;
}

.footer-wrapper {
  display: flex;
  justify-content: center;
  /* background-color: lightblue; */
  border-top: 1px solid grey;
}
.copy {
  padding: 1%;
}

.carousel-text {
  font-size: 2em;
  background: transparent;
  user-select: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

li {
  padding: 2px;
}

@media only screen and (max-width: 843px) {
  html{
    font-size: 10px;
  }
  .header-wrapper {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }

  .mr-auto navbar-nav {
    display: flex;
    flex-direction: column;
  }
}

@media only screen and (max-width: 395px) {
  .contact-us-header h3 {
    font-size: 40px;
  }
  form {
    margin-left: 14em;
  }
}
@media only screen and (max-width: 409px) {
  form {
    margin-left: 14em;
  }
}
@media only screen and (max-width: 415px) {
  form {
    margin-left: 14em;
  }
}
@media only screen and (min-width: 429px) {
  form {
    margin-left: 14em;
  }
}
@media only screen and (max-width: 425px) {
  form {
    margin-left: 14em;
  }
}

@media only screen and (max-width: 601px) {
  .MuiPaper-root {
    display: flex;
    flex-direction: column;
  }
}

.contact-us-header h3 {
  text-align: center;
  text-transform: uppercase;
  font-size: 50px;
  margin-bottom: 12%;
}

.contact-logo {
  background-color: lightgrey;
  height: 150px;
  width: 220px;
  margin-left: 70%;
  margin-top: 100%;
}

.form-row {
  padding: 0;
}

.middle-wrapper{
  display: flex;
  justify-content: center;
}

.middle-row-item{
  padding: 2%;
}


@media only screen and (max-width: 530px) {
  .middle-wrapper{
    display: flex;
    flex-direction: column;
  }
}

#middle-heading{
  padding: 3%;
  margin-left: 40%;
}

h3{
  font-family: 'Montserrat', sans-serif;
  font-weight: bolder;
}
